<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/u">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/u">My URLs</a>
        <a class="nav-item nav-link" href="/u/new">Create New URL</a>
      </div>

    </div>
    <%if (username === undefined) {%>
      <div class="form-group mb-2">
        <a href="/login" class="btn btn-primary">Login</a> <!--check urls-->
        <a href="/register" class="btn btn-primary">Register</a>
      </div>
    </form>
    <%} else {%>
      <div class="navbar-nav">
        <a class="nav-item nav-link mr-sm-2"> Logged in as: <%=username.email%></a>
        <form class="form-inline" action="/logout" method="POST">
      <!-- form tag-->
      <div class="form-group mb-2">

        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>
      </div>
    
    <%}%>
  </nav>
</header>